/* MEDIA 768px */

@media (max-width:768px) {

    .container {
        padding: 0px 50px;
        max-width: 768px;
    }

    /* HEADER */

    .header {
        flex-wrap: wrap;
        padding-top: 35px;
        max-height: 120px;
    }

    /* HEADER */

    /* INTRO */

    .plants__intro__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 37px 50px 70px 50px;
    }

    .plants__intro__icon {
        max-width: 310px;
        max-height: 260px;
    }
    
    .plants__intro__right-side {
        margin-top: 0px;
    }
    
    .plants__intro__item--first {
        margin-bottom: 30px;
        max-width: 341px;
        font-size: 35px;
        font-weight: 700;
    }
    
    .plants__intro__word {
        color:  #499A18;
    }
    
    .plants__intro__item--second {
        position: relative;
        left: 5px;
        margin-bottom: 35px;
        max-width: 341px;
        font-size: 16px;
        line-height: 25px;
    }

    /* INTRO */

    /* SECTION ABOUTS US */

    .abouts-us__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 40px 50px 86px 50px;
    }
    
    .about-us__left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 70px;
    }
    
    .about-us__heading {
        display: inline-block;
        text-align: center;
        margin-bottom: 52px;
        font-size: 35px;
        line-height: 45px;
    }
    
    .about-us__description {
        max-width: 668px;
        font-size: 20px;
        line-height: 30px;
    }

    .about-us__right-side {
        display: flex;
        justify-content: center;
    }

    .about-us__flower {
        max-width: 250px;
        max-height: 258px;
    }

    /* SECTION ABOUTS US */

    /* SECTION SERVICE */

.service__container {
    padding-bottom: 70px;
}

.service__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.service__heading {
    margin-top: 60px;
    margin-right: 0px;
    font-size: 35px;
    line-height: 45px;
}

.service__buttons {
    margin-top: 43px;
}

.cards {
    row-gap: 38px;
}

.cards__background {
    width: 280px;
}

.cards__background--first {
    background-image: url(../assets/768px-files/png/service__first--768px.png);
}

.cards__background--second {
    background-image: url(../assets/768px-files/png/service__second--768px.png);
}

.cards__background--third {
    background-image: url(../assets/768px-files/png/service__third--768px.png);
}

.cards__background--fourth {
    background-image: url(../assets/768px-files/png/service__fourth--768px.png);
}

.cards__background--fifth {
    background-image: url(../assets/768px-files/png/service__fifth--768px.png);
}

.cards__background--sixth {
    background-image: url(../assets/768px-files/png/service__sixth--768px.png);
}

.cards__heading {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards__text {
    display: inline-block;
    text-align: center;
    max-width: 201px;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 20px;
}

/* SECTION SERVICE */

/* SECTION PRICES */

.prices__container {
    padding-top: 40px;
    padding-bottom: 78px;
}

.prices__heading {
    margin-left: 13px;
    font-size: 35px;
    line-height: 43px;
}

.prices__right-side {
    margin-top: 63px;
}

.prices__text {
    margin-bottom: 28px;
    max-width: 296px;
    font-size: 25px;
    line-height: 35px;
}

.accordion {
    margin-top: 56px;
}

/* SECTION PRICE */

/* SECTION CONTACTS */

.contacts__container {
    align-items: center;
    flex-direction: column-reverse;
}

.contacts__left-side {
    position: relative;
    left: 10px;
    margin-top: 250px;
    max-width: 200px;
    max-height: 250px;
}

.contacts__center-side {
    order: 1;
    margin-top: 40px;
}

.contacts__heading {
    left: 0px;
}

.select {
    margin-top: 97px;
}

/* SECTION CONTATS */

/* FOOTER */

.footer__container {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer__center-side {
    left: 0px;
    line-height: 24px;
}

.footer__right-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

}

/* MEDIA 768px */

/* MEDIA 550px */

@media (max-width:550px) {

/* SECTION PLANTS */

.header__list {
    flex-wrap: wrap;
}

.plants__intro__container {
    flex-direction: column-reverse;
}

.plants__intro__item--second {
    left: 0px;
}

/* SECTION PLANTS */

/* SECTION CONTACTS */

.select {
    min-width: 300px;
}

/* SECTION CONTATS */

.prices__container {
    flex-direction: column;
    flex-wrap: wrap;
}

/* SECTION PRICES */

.prices__left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion__label {
    min-width: 180px;
}

.prices__right-side {
    align-items: center;
    justify-content: center;
}

.prices__text {
    text-align: center;
}

/* SECTION PRICES */

}

/* MEDIA 550px */