/* MEDIA 380xp */

@media (max-width:380px) {

    .container {
        padding: 0px 25px;
        max-width: 380px;
    }
    
    .heading {
        font-size: 25px;
        line-height: 33px;
    }
    
    /* RESET STYLE */
    
    
    /* SECTION PLANTS */

    .plants {
        position: relative;
        overflow: hidden;
    }
    
    .header {
        padding: 40px 0px;
    }

    .menu-close {
        display: block;
    }
    
    .header__container {
        padding: 0px 25px;
    }

    .header__logo {
        position: relative;
        right: 2px;
        bottom: 3px;
    }

    .header__logo__text {
        font-weight: 400;
    }

    .header__right-side {
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        padding: 15px 30px 15px 30px;
        width: 65vw;
        height: 100vw;
        background-color: #fff;
        -webkit-transition: right .3s ease-in-out;
        -o-transition: right .3s ease-in-out;
        transition: right .3s ease-in-out;
        z-index: 10;
    }

    .header__list {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .header__link {
        font-size: 25px;
    }

    .header__item:not(:last-child) {
        margin-right: 0px;
    }

    .burger {
        display: block;
        position: relative;
        bottom: 7px;
        width: 40px;
        height: 26px;
    }
    
    .burger-line {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #717171;
    }
    
    .burger-line:first-child {
        top: 0;
        left: 0;
    }
    
    .burger-line:nth-child(2) {
        top: 37%;
        left: 0;
        -webkit-transform: translateY(-37%);
            -ms-transform: translateY(-37%);
                transform: translateY(-37%);
    }
    .burger-line:nth-child(3) {
        top: 70%;
        left: 0;
        -webkit-transform: translateY(-70%);
            -ms-transform: translateY(-70%);
                transform: translateY(-70%);
    }
    
    .burger-line:last-child {
        bottom: 0;
        left: 0;
    }

    .menu-close {
        display: inline-block;
        position: relative;
        margin-bottom: 25px;
        width: 20px;
        height: 20px;
    }

    .menu-close::before, 
    .menu-close::after {
        content: '';
        position: absolute;
        margin-left: auto;
        width: 100%;
        height: 3px;
        background-color: #717171;
    }

    .menu-close::before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .menu-close::after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

    .header__right-side.burger-active {
        right: 0;
        padding: 15px 30px 15px 30px;
        width: 65vw;
        height: 100vw;
        border: 1px solid #3db432;
        -webkit-transition: right .3s ease-in-out;
        -o-transition: right .3s ease-in-out;
        transition: right .3s ease-in-out;
    }
    
    
    /* INTRO */
    
    .plants__intro__container {
        padding: 15px 25px 24px 25px;
    }
    
    .plants__intro__right-side {
        margin-top: 0px;
    }

    .plants__intro__left-side {
        display: none;
    }
    
    .plants__intro__item--first {
        margin-bottom: 21px;
        max-width: 330px;
        font-size: 25px;
        line-height: 35px;
    }
    
    .plants__intro__item--second {
        margin-bottom: 24px;
        max-width: 315px;
        font-size: 16px;
        line-height: 25px;
    }
    
    .plants__intro__button {
        padding: 5px 16px;
        font-size: 10px;
        line-height: 20px;
    }
    
    /* INTRO */
    
    /* SECTION PLANTS */
    
    /* SECTION ABOUTS US */
    
    .abouts-us__container {
        align-items: center;
        padding: 30px 25px 24px 25px;
    }
    
    .about-us__left-side {
        margin-top: 0px;
        margin-bottom: 3px;
    }
    
    .about-us__heading {
        margin-bottom: 13px;
        max-width: 463px;
    }
    
    .about-us__description {
        max-width: 330px;
        font-size: 15px;
        line-height: 25px;
    }
    
    /* SECTION ABOUT US */
    
    /* SECTION SERVICE */
    
    .service__container {
        padding-bottom: 27px;
    }
    
    .service__header {
        margin-bottom: 40px;
    }
    
    .service__heading {
        margin-top: 32px;
        max-width: 187px;
    }
    
    .service__buttons {
        margin-top: 37px;
    }
    
    .service__button {
        padding: 7px 30px 7px 30px;
        font-size: 15px;
        line-height: 20px;
    }

    .service__button--lawn {
        padding: 7px 40px !important;
    }

    .service__button:first-child {
        margin-bottom: 8px;
    }
    
    .service__button:not(:last-child) {
        margin-right: 6px;
    }
    
    .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 34px;
    }
    
    .cards__background {
        max-width: 280px;
        max-height: 350px;
    }
    
    .cards__item {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .cards__item--fifth {
        margin-bottom: 3px;
    }
    
    
    .cards__text {
        margin-bottom: 18px;
    }
    
    /* SECTION SERVICE */
    
    /* SECTION PRICES */
    
    .prices__container {
        padding-top: 26px;
        padding-bottom: 40px;
    }
    
    .prices__heading {
        margin-left: 0;
        font-size: 25px;
        line-height: 32px;
    }
    
    .prices__text {
        margin-bottom: 20px;
        max-width: 230px;
        text-align: center;
        font-size: 20px;
        line-height: 35px;
    }

    .prices__right-side {
        margin-top: 19px;
        min-height: 0px;
    }
    
    .prices__button {
        margin-bottom: 0px;
        padding: 7px 24px;
        font-size: 15px;
        line-height: 20px;
    }
    
    .prices__background {
        display: none;
    }
    
    .accordion {
        margin-top: 35px;
        padding: 29px 22px 29px 22px;
        max-width: 224px;
    }
    
    .accordion__item:not(:last-child) {
        margin-bottom: 13px;
    }
    
    .accordion__label {
        min-width: 180px;
        padding: 15px 40px 15px 30px;
        border-radius: 20px;
        font-size: 15px;
        line-height: 20px;
    }
    
    .accordion__description {
        padding: 0px 40px 0px 30px;
        min-width: 180px;
    }
    
    
    /* SECTION PRICE */
    
    /* SECTION CONTACTS */

    .contacts__left-side {
        left: -2px;
        margin-top: 132px;
        max-height: 124px;
    }
    
    .contacts__center-side {
        margin-top: 25px;
        right: 5px;
    }

    .contacts__heading {
        left: -3px;
    }

    .select {
        margin-top: 80px;
    }

    .select::after {
        position: relative;
        left: 11px;
    }
    
    /* SECTION CONTATS */
    
    /* FOOTER */
    
    .footer__container {
        padding-top: 10px;
    }

    .footer__center-side {
        top: 2px;
        left: -2px;
    }

    .footer__right-list {
        margin-top: 15px;
    }
}

/* MEDIA 380px */


/* MEDIA 350px */

@media (max-width:350px) {

    .select {
        min-width: 280px;
    }

}